
  

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <!-- Brand/logo -->
  <a class="navbar-brand ml-5" href="#">
   Sagar Aryal
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav nav-pills ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="skills">Skills</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="experience">Project</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="training">Training</a>
    </li>
 <li class="nav-item">
      <a class="nav-link" href="contact">Contact Me</a>
    </li>
  </ul>
</div>
</nav>