<div class="background ">


<div class="row ">


<div class="aboutme  pl-5 pr-5 ">
	<div class="row">
		<div class="col-12">
			
			<div data-aos="zoom-out" data-aos-duration="1500"><h3 class="text-left headings mt-md-2 mt-1" >About Me</h3></div>
		

		</div>

	</div>
</div>
<div class="row h-100 mb-4">
	<div class="col-md-6 my-auto"data-aos="zoom-in" >
		
			<img class=" rounded-circle mt-5 mx-auto float-md-right     "src="../assets/aimage.jpg"  alt="sagar aryal"height="250" widht="250" >

	</div>
	<div class="col-md-6 my-auto " width="240">

	<h3 data-aos="fade-right" class="subheadings mt-md-4 mt-3 pl-4 pl-md-0" >Background</h3>
	<div data-aos="zoom-in"	>
<p  class="pl-5 pl-md-0  text-wrap paratext"> Dedicated and efficient full stack developer with 4+ years experience in application layers, presentation layers, and databases. Experience in both F/E and B/E technologies. Spearheaded successful transition from LAMP stack to MEAN which cut latency by 40% and increased effectiveness of database administrators by 20%. Seeking to further improve HTML5 and CSS3 skills as the future full stack developer at Atmospheric Solutions.
</p>

</div>

	</div>
</div>







</div>
</div>

