.bgimage{
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("/assets/dark4.jpg");
	
	
	position: absolute;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
width: 100%;
}
.background{
	background-image: url('/assets/dark4.jpg');
}
form{
	border:1px solid white;
	border-radius: 5px;
}
.textf{
color:white ;font-weight: bold; font-size:20px;}
input[type=text],input[type=email],input[type=tel]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}