<div class="row background">
<div class="container mb-2  mb-md-4 ">
	<div class="row">
		<div class="col-12 ">
			<div class="container">
				<div data-aos="zoom-out" data-aos-duration="2500"><h3 class="text-left  mt-md-2 mt-1 headings" >Skills</h3></div>
			</div>
			

		</div>

	</div>
	<div data-aos="zoom-out-down"data-aos-duration="3000">
	<div class="border mt-md-4 mt-3 mb-md-4 mb-3 container containerinside ">
	<div class="row ">
		<div class="col-md-6 col-6">
			<div class="row">
				<div class ="col-md-6 subheadings">Html 5</div>
				
				<div class="row">
					<div class="container">
						<ngb-progressbar type="success" [value]="85" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>
			<div class="row">
				<div class ="col-md-6 subheadings">CSS 3</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="info" [value]="80" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>



			</div>
			<div class="row">
				<div class ="col-md-6 subheadings">JavaScript</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="warning" [value]="75" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>



			</div>



			<div class="row">
				<div class ="col-md-6 subheadings">MYSQL</div>
				<div class="row">
					<div class="container">
						<ngb-progressbar type="danger" [value]="85" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>




				<div class="row">
				<div class ="col-md-6 subheadings">Android</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="primary" [value]="75" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>

		
				</div>


				<div class="row">
				<div class ="col subheadings ">Matlab</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="info" [value]="75" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>




		</div>


		<div class="col-md-6 col-6 ">
			


				<div class="row">
				<div class ="col subheadings">PHP</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="danger" [value]="75" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>



			<div class="row">
				<div class ="col subheadings">Python</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="primary" [value]="80" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>




			<div class="row">
				<div class ="col subheadings ">SQL</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="info" [value]="85" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>




			<div class="row">
				<div class ="col subheadings">Java</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="warning" [value]="75" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>




				<div class="row">
				<div class ="col subheadings">Angular</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="danger" [value]="80" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>


				<div class="row">
				<div class ="col-12 subheadings">R</div>
					<div class="row">
					<div class="container">
						<ngb-progressbar type="danger" [value]="80" [striped]="true" [showValue]="true"></ngb-progressbar>
					</div>
				</div>
			</div>





		</div>
	</div>
	</div></div>
</div>
</div>
