<div class="imagee ">
  <div class="row h-100 align-items-center">

   
   
      <div class="col-12 col-md-6 my-md-auto mx-auto "> 

  <div data-aos="zoom-in" data-aos-duration="4000"><img src="/assets/aimage.jpg" class="rounded-circle d-md-block float-md-right  mr-md-4 d-block mx-auto my-auto  align-self-md-center  " alt="Cinque Terre"style="height: 150px;width:150px;"> </div></div>
      <div class="col-12 col-md-6 justify-content-center">
  <div data-aos="zoom-in">
      <div class="hero-text ">
    <h1 style="font-size:50px">I am Sagar Aryal</h1>
    <p>And I'm a <span class="change" class=" badge badge-primary badge-pill"> Full Stack Developer</span></p>
    <a href="/assets/sagarcv.pdf"download="sagarcv.pdf" ><button class="mr-3 mr-md-4 btn btn-lg btn-outline-info ">Resume</button></a>
     <a href="contact"><button class=" btn btn-lg btn-outline-primary" > Hire me</button></a>
  </div>


 </div>
</div>

</div>
</div>





<app-header></app-header>

<router-outlet></router-outlet>
<app-footer></app-footer>


